# SwiftFormat configuration
--swiftversion 5.10
--indent 4
--maxwidth 140
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--commas inline
--semicolons never
--trimwhitespace always
--ifdef no-indent
--self remove
--stripunusedargs closure-only
--importgrouping testable-last
--header strip

--disable redundantSelf
--enable isEmpty
--enable redundantType
--enable redundantReturn
--enable sortImports

--exclude build,DerivedData,.build,Pods,Resources/Assets.xcassets
